@{
    ViewData["Title"] = "Acesso Negado";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Você está tentando acessar um módulo que você não tem permissão.</p>
<p>Por favor, contate seu gestor.</p>
